html,
body {
  height: 100%;
  background: $white;
}

body {
  overscroll-behavior-y: none;
  font-family: 'Open Sans Condensed', sans-serif;

}

h2 {
  text-align: center;
  font-size: 8rem;
  margin: 40px auto;
  .outline {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
}

.App {
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .scroll {
    padding: 2vh 0;
    pointer-events: none;
  }
  .img-container {
    width: 700px;
    height: 420px;
    overflow: hidden;
    position: relative;
    margin: 400px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      margin-top: 200px;
    }
    &:last-child {
      margin-bottom: 200px;
    }
    @media (max-width: 480px) {
      width: 95%;
    }
    img {
      width: 100%;
      position: absolute;
    }
  }
}

.heading-primary{
    font-size: 3rem;
    border-left: 1rem solid $red;
    text-align: left;
    padding: 0 1rem;
    text-transform: capitalize;
}

.divider-4{
  padding: 4rem;
}