.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 // height: 80vh;
 padding: 5rem 0;
  width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    transform-origin: bottom;
    transition: all .2s;
    &:hover{

    background-color: $red;
      color: #fff;
      border-radius: 0.5rem;
    }
  &__image{
    height: 10rem;
    width: 10rem;
    background: #fff;
    //background: center center no-repeat;
    background-size: contain;
    //box-shadow: 0.4rem 0.4rem 4rem rgba($black,0.4);
    border-radius: 200rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    img{
      //height: 100%;
      width: 100%;
    }
  }
  &__name{
    flex:1;

  font-weight: 700;

    font-size: 2.5rem;
    margin-top: 2rem;
  }
  &__description{
   // flex:0;

    padding: 0 2rem;
    text-align: left;
    font-size: 1.4rem;
    margin-top: 2rem;
    height: 10rem;
    //overflow: hidden;
    
    animation: slideInUp .5s;
    //display: none;

  }
  &:hover &__description{
    height: 10rem;
    display: block;


  }
}
@keyframes slideInUp {
  from {
    height: 0;
  }

  to {
    height: 10rem;
  }
}