.header{
  min-height: 100vh;
  background-color:rgba($black,1);
  color: $white;
  padding: 2rem 10%;
  display: flex;
  //flex-direction: column;
  align-items: center;
  @media (max-width:720px) {
    flex-direction: column;
  }
  &__right{
    flex : 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  &__left{
    @media (max-width:720px) {
      order: 1;
      flex:1;
    }
  }
  &__sub-heading{
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 1rem;
    border-left: 0.5rem solid $red;
    color: $red;
  }
  &__box{
    
    //height: 20rem;
    width: 30rem;
    border-radius: 0.5rem;
    // box-shadow: 0.2rem 0.2rem 1rem rgba($red,0.6);

    //background-image: url(../images/roopam.png);
    background-size: cover;
    overflow: hidden;
    // background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: relative;
    //padding: 0rem 0 0 0.5rem;

    img{
      // border-radius: 200rem;
      margin:0;
    }
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      // background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      top: 0;
      right: 0;
    }
  }
}

.heading{
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  
  //border-bottom: 0.1rem solid $red;
  @media (max-width:720px) {
    font-size: 4rem;
  }
}