.internships{
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
  // display: flex;
  // flex-wrap: wrap;
  @media (max-width:720px) {
  grid-template-columns: repeat(1,1fr);
    
  }
}
.internships-section{
  padding: 0 10%;
  min-height: 100vh;

  background: $black;
}